<div class="text-right my-4">
  <%= button_to 'この献立を削除する', meal_plan, method: :delete, data: { turbo_confirm: '本当に削除して良いですか？' }, class: 'text-orange-950/70 hover:border-b-2 border-orange-950/20' %>
</div>
