<div class="flex justify-center">
  <%= button_to meeting_rooms_path(meal_plan:, meal_date: meal_plan.meal_date), method: :post, class: 'meeting_room_button' do %>
    <%= image_tag('pages/chat_double.svg', class: 'meal-icon', alt: 'チャットのマーク') %>
    <span class="ml-1 text-white">会議へ</span>
  <% end %>
</div>
