<div class="my-5">
  <div class="flex justify-between">
    <%= render 'shared/title_meal_date', meal_date: meal_plan.meal_date %>
    <% if meal_plan.meals.present? %>
        <div class="flex items-center">
          <%= link_to '編集', edit_meal_plan_path(meal_plan), class: 'text-l inline-block rounded-full py-2 px-4 flex items-center bg-orange-100/80' %>
        </div>
    <% end %>
  </div>
  <% meal_plan.meals_sort_by_timing.each do |meal| %>
    <%= render 'meals/meal', meal: %>
  <% end %>
</div>
