<div class="mx-3 px-4 border-2 border-dashed border-orange-900/10 rounded-lg divide-y-2 divide-dashed divide-orange-900/5">
  <% meal_plan.meals.sort_by_timing.each do |meal| %>
    <%= render 'meals/meal', meal: %>
  <% end %>
</div>
<div class="w-full flex my-4">
  <%= link_to '献立を編集する', edit_meal_plan_path(meal_plan), class: 'w-2/3 md:w-1/2 py-1.5 mx-auto text-center rounded-full bg-orange-100 hover:bg-orange-200' %>
</div>
