<div class="my-5">
  <div class="flex justify-between">
    <%= render 'shared/title_meal_date', meal_date: meal_plan.meal_date %>
    <div class="flex items-center inline-block">
      <%= link_to edit_meal_plan_path(meal_plan) ,class: 'rounded-full p-2 hover:bg-orange-400/70' do %>
        <%= image_tag('pages/pen.svg', alt: 'edit_pen', class: 'w-7 h-7 text-center') %>
      <% end %>
    </div>
  </div>
  <% meal_plan.meals_sort_by_timing.each do |meal| %>
    <%= render 'meals/meal', meal: %>
  <% end %>
</div>
