<div id="<%= dom_id meal_plan %>">

  <h2 class="font-bold text-3xl"><%= meal_plan.meal_date %></h2>

  <% @meal_plan.meals.sort_by(&:timing_before_type_cast).each do |meal| %>
    ---------------
    <%= render 'meal', meal: %>
  <% end %>
    ---------------

</div>
