<div id="<%= dom_id meal %>">
  <strong><%= meal.timing %></strong>
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= meal.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Memo:</strong>
    <%= meal.memo %>
  </p>
</div>
