<div id="<%= dom_id meal %>" class="border border-stone-300 rounded-md p-4 my-5 text-stone-800">
  <strong class="block font-bold text-lg"><%= meal.timing %></strong>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <span class="block rounded-md px-3 py-2"><%= meal.name %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Memo:</strong>
    <span class="block rounded-md px-3 py-2"><%= meal.memo %></span>
  </p>
</div>
