<div class="my-4">
  <%= button_to meeting_rooms_path(meal_plan:, meal_date: meal_plan.meal_date), method: :post,
                                                                                class: 'w-2/3 md:w-1/2 py-1 mx-auto flex items-center justify-around rounded-full border-2 border-red-600/10 bg-red-50 hover:bg-red-700/10' do %>
    <%= image_tag('pages/light.svg', class: 'w-5', alt: '提案のマーク') %>
    <span class="text-base md:text-lg">会議室はこちら</span>
    <%= image_tag('pages/chat_single.svg', class: 'w-6', alt: 'コメントのマーク') %>
  <% end %>
</div>
