<div class="mx-auto md:w-2/3 w-full flex">
  <%= turbo_frame_tag @meal_plan do %>
    <%= render 'form', meal_plan: @meal_plan %>
    <%= link_to 'キャンセル', @meal_plan,
                class: 'ml-2 rounded-lg py-3 px-5 text-stone-500 bg-stone-100 inline-block font-medium' %>
  <% end %>
</div>
