<div class="mx-auto p-4 w-full">
  <%= render 'header_button', meal_plan: @meal_plan %>
  <div class="mt-4">
    <%= render 'form', meal_plan: @meal_plan %>
  </div>
  <div class="text-center">
    <%= link_to 'キャンセル', @meal_plan, class: 'rounded-full py-3 px-4 text-red-9500/50 bg-stone-100 inline-block hover:bg-stone-200' %>
  </div>
  <%= render 'delete_button', meal_plan: @meal_plan %>
</div>
