<% set_meta_tags title: '献立の新規作成' %>
<% set_meta_tags description: '献立の新規作成ができます。' %>
<div class="w-full">
    <%= render 'form', meal_plan: @meal_plan %>
  <div class="mt-4">
  <%= render 'header_button', meal_plan: @meal_plan %>
  </div>
</div>
