<% set_meta_tags title: '献立の確認' %>
<% set_meta_tags description: '献立の詳細を確認できます。' %>
<div class="mx-auto p-4 w-full">
  <%= render 'header_button', meal_plan: @meal_plan %>
  <div class="mt-4">
    <%= render 'meal_plan', meal_plan: @meal_plan %>
  </div>
  <%= render 'delete_button', meal_plan: @meal_plan %>
</div>
