<% set_meta_tags title: '献立の確認' %>
<% set_meta_tags description: '献立の詳細を確認できます。' %>
<%= render 'layouts/title_meal_date', meal_date: @meal_plan.meal_date %>
<div class="my-2">
  <%= render 'meeting_room_button', meal_plan: @meal_plan %>
</div>
<%= render 'meal_plan', meal_plan: @meal_plan %>
<%= render 'delete_button', meal_plan: @meal_plan %>
