<div class="mx-auto  w-full">
  <div class="p-8 w-full ">
    <div class="flex justify-around">
      <%= button_to meeting_rooms_path(meal_plan: @meal_plan, meal_date: @meal_plan.meal_date), method: :post, data: { turbo_frame: '_top' }, class: 'rounded-full py-3 px-4 bg-red-400 inline-block' do %>
        <i class="fa-regular fa-comments text-xl text-white"></i>
        <span class="ml-1 text-md text-white">会議へ</span>
      <% end %>
      <%= link_to meal_plans_path(start_date: @meal_plan.meal_date),
                  class: 'inline-block mr-4 mb-4 rounded-full py-3 px-4 bg-orange-100/50 items-center' do %>
        <i class="fa-regular fa-rectangle-list text-xl text-orange-500"></i>
        <span class="ml-1 text-md text-orange-500">一覧へ</span>
      <% end %>
    </div>
    <div class="mt-4">
      <%= render @meal_plan %>
    </div>
  </div>
</div>
