<div class="mx-auto p-4 w-full">
  <%= render 'header_button', meal_plan: @meal_plan %>
  <div class="mt-4">
    <%= render @meal_plan %>
  </div>
  <div class="text-right my-4">
    <%= button_to 'この献立を削除する', @meal_plan, method: :delete, class: 'text-orange-950/70 hover:border-b-2 border-orange-950/20' %>
  </div>
</div>
