<% set_meta_tags title: '家族を招待する' %>
<% set_meta_tags description: '献立表に家族を招待するためのページです。' %>
<h1 class="flex items-center h-10 bg-orange-200 justify-center font-bold text-lg md:text-xl">献立表に家族を招待する</h1>
<div class="mx-3 my-4">
  <div class="my-4">
    以下のURLから初回ログインをすることで、<br>この献立表に参加することができます。<br>
    URLをコピーして家族を献立表に招待しましょう。<br>
    同じユーザーは複数の献立表に参加できませんので、<br class="md:hidden">注意してください。
  </div>
  <div class="my-4">
    <%= render 'invitation_url_button', family: @family %>
  </div>
  <%= render 'family', family: @family %>
</div>
