<div class="mx-auto p-4 w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-2xl">献立表を共有する</h1>
    <%= link_to meal_plans_path, class: 'inline-block flex items-center' do %>
      <i class="fa-regular fa-rectangle-list text-xl"></i>
      <span class="ml-2 text-md">献立表へ</span>
    <% end %>
  </div>

  <div class="my-5">
    <div class="my-8">
      <div class="my-4">
        以下のURLからログインすることで、この献立表に参加することができます。<br>
        URLをコピーして家族を献立表に招待しましょう。
      </div>
      <input id="copyTarget" type="text" value="<%= @family.invitation_url(request) %>" readonly autocomplete="off" class="block rounded-md border border-red-950/20  w-full focus:ring-orange-950/50 focus:border-orange-950/50">
      <div class="flex justify-center">
        <button class="rounded-full inline-block text-center mt-4 py-3 px-4 bg-red-400 text-white" onclick="copyToClipboard()">共有URLをCopy</button>
      </div>
    </div>
    <strong class="block font-bold text-lg">この献立表のユーザー</strong>

    <% @family.users.each do |user| %>
      <div class="my-5 flex items-center">
        <%= image_tag user.icon, class: 'icon' %>
        <span class="ml-2"><%= user.name %></span>
      </div>
    <% end %>
  </div>

  <script>
    function copyToClipboard() {
        // コピー対象をJavaScript上で変数として定義する
        var copyTarget = document.getElementById("copyTarget");

        // コピー対象のテキストを選択する
        copyTarget.select();
        copyTarget.setSelectionRange(0, 99999);

        // 選択しているテキストをクリップボードにコピーする
        document.execCommand("Copy");

        // コピーをお知らせする
        alert("コピーできました！ : " + copyTarget.value);
    }
  </script>
</div>
