<div class="mx-auto p-4 w-full">
  <div class="text-left mt-4">
    <h1 class="font-bold text-2xl">献立表を共有する</h1>
  </div>

  <div class="my-5">
    <div class="my-8">
      <div class="my-4">
        以下のURLから初回ログインをすることで、この献立表に参加することができます。<br>
        URLをコピーして家族を献立表に招待しましょう。<br>
        同じユーザーは複数の献立表には参加できませんので、注意してください。
      </div>
      <%= text_field_tag :invitation_url, @family.invitation_url(request), readonly: true, autocomplete: 'off',
                                                                           class: 'block rounded-md border border-red-950/20  w-full focus:ring-orange-950/50 focus:border-orange-950/50' %>
      <div class="text-center">
        <%= button_tag '招待用URLをコピー', data: { controller: 'clipboard', action: 'clipboard#copy', clipboard_url_value: @family.invitation_url(request) },
                                     class: 'rounded-full inline-block mt-4 py-3 px-4 bg-red-400 text-white' %>
      </div>
    </div>
    <strong class="block font-bold text-lg">この献立表のユーザー</strong>

    <% @family.users.each do |user| %>
      <div class="my-5 flex items-center">
        <%= image_tag "user_icons/#{user.icon}", class: 'icon' %>
        <span class="ml-2"><%= user.name %></span>
      </div>
    <% end %>
  </div>
</div>
