<header class="h-14 px-4 flex justify-between items-center bg-white border-b-2 border-orange-200 w-full z-10 max-w-screen-sm">
  <div class="">
    <%= link_to image_tag('/images/logo_small.png', class: 'h-11'), root_path %>
  </div>
  <div class="flex justify-between items-center">
    <% if logged_in? %>
      <%= link_to image_tag("user_icons/#{current_user.icon}", class: 'icon mx-2'), user_path %>
      <%= render 'shared/menu' %>
    <% end %>
  </div>
</header>
