<div class="flex justify-start items-center">
  <%= link_to '', meal_plans_path(start_date: meal_date),
              class: 'inline-block font-bold arrow_left' %>
  <h1 class="font-bold text-2xl"><%= l meal_date, format: format_date_length_whether_this_year(meal_date) %></h1>
</div>
