<% set_meta_tags title: '使い方' %>
<% set_meta_tags description: 'ごはんサミットの使い方のページです。' %>
<h1 class="flex items-center h-10 bg-orange-200 justify-center font-bold text-lg md:text-xl">使い方</h1>
<div class="w-full">
  <p class="mx-6 my-6">
    ごはんサミットは、
    献立の相談と献立表の共有が<br class="md:hidden">できるアプリです。
  </p>
  <div class="mx-3 leading-loose">
    <div class="my-6">
      <div class="mt-6 mb-2 py-3 flex justify-start items-center rounded-md bg-orange-100">
        <span class="mx-4 size-4 bg-red-400 rounded-sm"></span>
        <h2 class="text-base md:text-lg">家族を招待する</h2>
      </div>
      <div class="mx-3">
        <p>
          家族で献立の相談・献立表を共有したい人は、<br class="md:hidden">まず家族を招待しましょう。
        </p>
        <p>
          <%= link_to '家族を招待する', family_path, class: 'underline hover:font-semibold' %>
          から招待用URLをコピーして、<br class="md:hidden">家族にURLを教えます。
        </p>
        <p>
          招待用URLから初回ログインを行うことで、<br class="md:hidden">献立表に参加できます。
        </p>
      </div>
    </div>
    <div class="my-6">
      <div class="mt-6 mb-2 py-3 flex justify-start items-center rounded-md bg-orange-100">
        <span class="mx-4 size-4 bg-red-400 rounded-sm"></span>
        <h2 class="text-base md:text-lg">献立を相談する</h2>
      </div>
      <div class="mx-3">
        <p>
          献立表の右側の表、もしくは献立詳細の上にある<br class="md:hidden">「会議室はこちら」をクリック<br class="hidden md:block">すると、その日の<br class="md:hidden">会議室に移動します。
        </p>
        <p>
          会議室では、その日に何を食べるかを「提案」と<br class="md:hidden">「コメント」をすることで決めて<br class="hidden md:block">いきます。
        </p>
        <p class="my-1">
          <span class="px-1 py-0.5 text-sm rounded-full border border-orange-950/50 bg-white hover:bg-orange-200">
              <span class="text-left">＋</span>
              <span class="mx-auto text-center">提案する</span>
          </span>
          ：食べたいものを提案します。
        </p>
        <p class="my-1">
          <span class="px-1 py-0.5 text-sm rounded-full border border-orange-950/50 bg-white hover:bg-orange-200">
              <span class="text-left">＋</span>
              <span class="mx-auto text-center">コメントする</span>
          </span>
          ：自由にコメントします。<br>
          その日の気分や他の予定など、献立を決めるに<br class="md:hidden">あたって必要なことをコメント<br class="hidden md:block">します。
        </p>
      </div>
    </div>
    <div class="my-6">
      <div class="mt-6 mb-2 py-3 flex justify-start items-center rounded-md bg-orange-100">
        <span class="mx-4 size-4 bg-red-400 rounded-sm"></span>
        <h2 class="text-base md:text-lg">会議で決めた献立を献立表に登録する</h2>
      </div>
      <div class="mx-3">
        <p>
          会議で提案した献立をそのまま献立表に登録が<br class="md:hidden">できます。
        </p>
        <p>
          <span class="rounded-full py-0.5 px-1.5 bg-white text-sm text-red-400 border border-red-400/70 inline-block">
            献立を登録
          </span>
          <span>
            をクリックして食事のタイミングを<br class="md:hidden">選択して登録しましょう。
          </span>
        </p>
      </div>
    </div>
    <div class="my-6">
      <div class="mt-6 mb-2 py-3 flex justify-start items-center rounded-md bg-orange-100">
        <span class="mx-4 size-4 bg-red-400 rounded-sm"></span>
        <h2 class="text-base md:text-lg">直接献立表に登録する</h2>
      </div>
      <div class="mx-3">
        <p>
          会議をしないで献立を直接登録することも<br class="md:hidden">できます。
        </p>
        <p>
          献立表の献立部分をクリックすると、献立を登録<br class="md:hidden">できます。
        </p>
        <p>
          同じ献立がかぶらないように、記録として残して<br class="md:hidden">おきましょう。
        </p>
      </div>
    </div>
  </div>
</div>
