<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-stone-800">ごはんサミット</h1>
  </div>
  <p>
    家族から招待されています！
  </p>
  <p>
    ログインして家族で献立を相談しよう！
  </p>
  <p>
    献立表を作ろう！
  </p>
  <div>
    <%= button_to '招待：Googleでログイン', google_oauth2_path(@invitation_token), method: :post,
                                                                           data: { turbo: false }, class: 'login-button' %>
  </div>
  <div>
    <%= link_to '利用規約', terms_path, class: 'ml-4 text-stone-800 hover:underline' %>
    <%= link_to 'プライバシーポリシー', terms_path, class: 'ml-4 text-stone-800 hover:underline' %>
  </div>
</div>
