/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  -webkit-tap-highlight-color: transparent;
}

input:-webkit-autofill {
  background-color: transparent !important;
  color: inherit !important;
  box-shadow: 0 0 0px 1000px white inset !important;
}

input:-webkit-autofill:focus {
  background-color: white !important;
}

input::placeholder {
  font-size: 12px;
  color: #9ca3af;
}

textarea::placeholder {
  font-size: 12px;
  color: #9ca3af;
}

.icon {
  width: 30px;
  height: 30px;
}

.page-icon-big {
  width: 38px;
  height: 38px;
}

.page-icon {
  width: 24px;
  height: 24px;
}

.meal-icon {
  width: 22px;
  height: 22px;
}

.meeting_room_button {
  display: flex;
  align-items: center;
  border-radius: 9999px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  background-color: #f87171;
}

.meeting_room_button:hover {
  background-color: #dc2626;
}

.plus_icon {
  display: inline-block;
  color: #fb923c;
  font-size: 1rem;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border: 0.15rem dashed;
  border-color: #fb923c;
  border-radius: 9999px;
}

.right-15 {
  position: absolute;
  right: 15%;
}

.plus_icon::before {
  content: "";
  position: absolute;
  background: #fb923c;
  width: 1rem;
  height: 0.15rem;
  border-radius: 0.25rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus_icon::after {
  content: "";
  position: absolute;
  background: #fb923c;
  width: 0.15rem;
  height: 1rem;
  border-radius: 0.15rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.plus_icon:hover {
  background-color: #fb923c;
}

.plus_icon:hover::before {
  background: white;
}

.plus_icon:hover::after {
  background: white;
}

.arrow_left {
  display: inline-block;
  width: 1rem;
  height: 2rem;
  position: relative;
}

.arrow_left::before {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-top: 0.1rem solid rgb(67 20 7);
  border-right: 0.1rem solid rgb(67 20 7);
  border-radius: 0.1rem;
  top: 50%;
  transform: translateY(-50%) rotate(225deg);
  cursor: pointer;
}

.arrow_left:hover::before {
  border-top: 0.2rem solid rgb(67 20 7);
  border-right: 0.2rem solid rgb(67 20 7);
}

.arrow_right {
  display: inline-block;
  width: 1rem;
  height: 2rem;
  position: relative;
}

.arrow_right::before {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  border-top: 0.1rem solid rgb(67 20 7);
  border-right: 0.1rem solid rgb(67 20 7);
  border-radius: 0.1rem;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  cursor: pointer;
}

.arrow_right:hover::before {
  border-top: 0.2rem solid rgb(67 20 7);
  border-right: 0.2rem solid rgb(67 20 7);
}

.checkbox-3 {
  border: none;
}

.checkbox-3 label {
  align-items: center;
  padding: 0.75rem;
  border: 0.1rem dashed #fdba74;
  border-radius: 1.8rem;
  cursor: pointer;
}

.checkbox-3 input {
  display: none;
}

.checkbox-3 input[type="radio"]:checked + label {
  background-color: #fdba74;
  color: #fff;
}

.hidden_radio {
  display: none;
}

.icon_option {
  cursor: pointer;
}

.icon_image {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  padding: 0.2rem;
  border: 4px solid transparent;
}

.icon_option input:checked + .icon_image {
  border-radius: 100%;
  border-color: #fdba74;
}
