<span id="remark-<%= remark.id %>-edit-link" class="flex">
<%= turbo_stream_from current_user, 'edit_link' %>
<% if remark.editable?(current_user) %>
  <%= link_to edit_meeting_room_remark_path(remark.meeting_room, remark) do %>
    <%= image_tag("pages/pen", class: 'w-7 h-7 text-center') %>
  <% end %>
<% end %>
</span>
