<div>

  <p class="my-5">
    <%= remark.content %>
    <%# if remark.proposal? %>
      <%#= link_to "登録へ", remark_timing_path(remark), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%# end %>
  </p>
</div>
