<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">
    <%= "New #{@remark.remark_type}" %>
  </h1>

  <%= render 'form', remark: @remark, meeting_room: @meeting_room %>

  <%= link_to 'Back to remarks', meeting_room_path(@meeting_room) %>
</div>
