<% flash.each do |flash_type, message| %>
  <div class="flash__message font-bold">
<!--    data-controller="removals"-->
<!--    data-action="animationend->removals#remove"-->
<!--  >-->
    <%= message %>
  </div>
<% end %>
