<header class="h-14 px-4 flex justify-between items-center bg-white w-full z-10 max-w-screen-sm">
  <%= link_to image_tag('/images/logo_small.png', class: 'h-11', alt: 'ごはんサミットのロゴ'), root_path %>
  <div class="flex justify-between items-center">
    <% if logged_in? %>
      <%= link_to image_tag("user_icons/#{current_user.icon}", class: 'icon mx-2', alt: "ユーザーアイコンの#{User::ICON[current_user.icon.to_sym]}のイラスト"), user_path %>
      <%= render 'layouts/menu' %>
    <% end %>
  </div>
</header>
